:root{
    --font-logo:Wisdom Script Regular;
    --font-menu:Montserrat;
    --font-text:Roboto Slab;
    --font-sub-title:Droid Serif;
    --font-title:Montserrat;
    --font-placeholder-form:Montserrat;
    --font-button-form:Montserrat;
}