$font-logo:'Montserrat', sans-serif;
$font-menu:'Montserrat', sans-serif;
$font-button:'Montserrat', sans-serif;
$font-title:'Kaushan Script', cursive;
$font-sub-title:'Montserrat', sans-serif;
$font-title-h3:'Montserrat', cursive;
$font-text:'Roboto', sans-serif;
$font-footer-text:'Montserrat', sans-serif;
$font-footer-input:'Roboto', sans-serif;
$color-menu:#fff;
$color-hover:#fce38a;
$color-text-baner:#fff;
$color-text:#999;
$color-line-title:#f38181;
$color-ico-section2: #f38181;
$color-ico-hover:#fff;
$color-background-ico:#f38181;