@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    width: 1200px;
    text-align: center;
    font-family: "Playfair Display Regular", serif;
    font-size: 14pt;
    color: #626262;
    font-size: 14pt;
}

.signature_img{
    font-family: "Ubuntu light", serif;
    color: #b4ad9e;
}

li, .signature_img {
    text-transform: uppercase;
    padding: 30px 0 30px 0;
}

li {
    display: inline-block;
    height: 50px;
    width: auto;
    margin-left: 100px;
}
li > a{
    color: #626262;
    text-decoration: none;
}

li a:hover, li a:focus{
    color:-webkit-link;
}

li:last-child {
    margin-right: 0;
}

.art{
    display: inline-block;
    width: 420px;
    margin-bottom: 130px;
    margin-left: auto;
    text-align: left;
    padding-right: 0px;
}

.art:nth-child(even){
    padding-right: 60px;
}

.art:nth-last-of-type(-n + 2){
    margin-bottom: 40px;
}

h2{
    margin-bottom: 30px;
}

button{
    margin-bottom: 60px;
    padding: 22px 33px;
    border-color: #626262;
    background: white;
    cursor: pointer;
}