:root{
    --font-logo:'Montserrat', sans-serif;
    --font-menu:'Montserrat', sans-serif;
    --font-title:'Montserrat', sans-serif;
    --font-sub-title:'Roboto', sans-serif;
    --font-button:'Montserrat', sans-serif;
}